<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
      <add key="Syno.TestFolder" value="/public/apitest" />
      <add key="Syno.User" value="test" />
      <add key="Syno.Pass" value="!+Password" />
      <add key="Syno.ApiBaseAddress" value="https://192.168.1.130:5001/webapi" />
    </appSettings>

  <!--Add to ignore ssl errors-->
  <system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
</configuration>