<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Syno.TestFolder" value="/public/apitest" />
  </appSettings>
  <!--Add to ignore ssl errors-->
  <system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
</configuration>