<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="Syno.TestFolder" value="/volume1/archive/apitest" />
    <add key="Syno.User" value="Allan" />
    <add key="Syno.Pass" value="Botududa73" />
    <add key="Syno.ApiBaseAddress" value="https://192.168.1.140:5001/webapi" />
  </appSettings>

  <!--Add to ignore ssl errors-->
  <system.net>
    <settings>
      <servicePointManager
        checkCertificateName="false"
        checkCertificateRevocationList="false" />
    </settings>
  </system.net>
</configuration>