<?xml version="1.0" encoding="utf-8"?>

<!-- Sample settings for app.config or machine.config -->
<configuration>
  <appSettings>
    <add key="Syno.User" value="yourdiskstationusername" />
    <add key="Syno.Pass" value="yourdiskstatiionpassword" />
    <add key="Syno.ApiBaseAddress" value="http://[yoursynology]/webapi" />
  </appSettings>

  <!--Add to ignore ssl errors-->
  <!--<system.net>
    <settings>
      <servicePointManager
          checkCertificateName="false"
          checkCertificateRevocationList="false" />
    </settings>
  </system.net>-->
</configuration>